<!-- <p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>   -->

<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span>My App</span>
        <span class="example-spacer"></span>
        <!-- <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button> -->
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <div class="example-button-row">
          <button mat-raised-button color="warn" routerLink="/" target="_self">
            Home
          </button>
          <button
            mat-raised-button
            color="warn"
            routerLink="/events"
            target="_self"
          >
            Events
          </button>
          <button
            mat-raised-button
            color="warn"
            routerLink="/categories"
            target="_self"
          >
            Categories
          </button>
          <button
            mat-raised-button
            color="warn"
            routerLink="/QRScanner"
            target="_self"
          >
            QR Scanner
          </button>
          <button
            mat-raised-button
            color="warn"
            routerLink="/Scanner2"
            target="_self"
          >
            QR Scanner2
          </button>
          <a mat-raised-button routerLink="/schedule" target="_self" color="warn"
            >Schedule</a
          >
        </div>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  